<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 龙行天下
    <br>Design by
    <a href="https://github.com/hermanzh/rails-101-1" target=_new>Herman</a>
  </p>
</footer>